# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build directories
build/
cmake-build-*/
.cmake/

# Conan
conaninfo.txt
conanbuildinfo.*
conan.lock
graph_info.json

# Qt
*.pro.user
*.pro.user.*
*.qmlc
*.jsc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.autosave

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Cache
tla_visualiser_cache/
